.table3{
    text-align: left;
    font-size: 23px;
    margin: 0px 0px 0px 400px;
    line-height: 40px;
}
.table3 option{
    border: 2px solid #000;
    background-color: black;
    background-size: 10px;
    height: 10px;
}
#test{
    border: 2px solid #fff;
    background: #246;
    padding: 8px 400px 8px 0px;
    border-radius: 10px;
    font-size: 15px;
}